* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    .logo {
      max-width: 120px;
    }
    .toggle {
      max-width: 60px;
      cursor: pointer;
    }
    .logo,
    .toggle {
      img {
        max-width: 100%;
      }
    }
  }
  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    .content {
      max-width: 550px;
      h2 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.5em;
        letter-spacing: 0.1em;
        color: #fff;
        span {
          font-weight: 800;
        }
      }
      p {
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 0.02em;
        line-height: 1.5em;
        color: #fff;
        margin: 15px 0 35px;
      }
      .play {
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 5000;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.2em;
        img {
          margin-right: 10px;
          max-width: 50px;
        }
      }
      .slide {
          position: absolute;
          bottom: 50px;
          left: calc(50% - 250px / 2);
          width: 250px;
          height: 150px;
          background-image: url("/assets/images/poster.jpg");
          background-size: cover;
          cursor: pointer;
          animation: animate 25s linear infinite;
      }
      .social__list {
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        li {
          a {
            text-decoration: none;
            img {
              filter: invert(1);
              transform: scale(0.6);
            }
          }
        }
      }
    }
  }
  @keyframes animate {
      0%, 100% {
          background-position: top;
      }
      45% {
          background-position: bottom;
      }
  }
  .trailer {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
      background: rgba(0, 0, 0,0.95);
      width: 100%;
      height: 100%;
      display: flex;justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      iframe {
      max-width: 900px !important;
      height: auto !important;
      outline: 0;
      }
      .close {
          position: absolute;
          top: 30px;
          right: 30px;
          cursor: pointer;
          filter: invert(1);
          max-width: 32px;
      }
  }
  .trailer.active {
      visibility: visible;
      opacity: 1;
  }
  @media (max-width: 991px) {
    header {
        padding: 20px 50px;
        .logo {
            max-width: 80px;
        }
        .toggle {
            max-width: 40px;
        }
    }
    .banner {
        padding: 100px 50px;
        .content {
            h2 {
                font-weight: 400;
                font-size: 2em;
                letter-spacing: 0.05em;
            }
            p {
                font-size: 1em;
            }
            .slide {
                position: relative;
                bottom: initial;
                left: 0;
                width: 250px;
                height: 150px;
                margin: 20px 0;
            }
            .social__list {
                position: absolute;
                top: initial;
                right: initial;
                margin-top: 40px;
                transform: translateY(-50%);
                flex-direction: row;
                li {
                    margin: 0 5px;
                }
            }
        }
    }
    .trailer {
        iframe {
            max-width: 90%;
            height: auto;
        }
    }
}